{% extends "base.html" %}
{% block title %}Технологии проекта{% endblock %}
{% block content %}
  <main role="main" class="container">
      <div class="row">
          <!-- Левый вспомогательный блок -->
          <div class="col-md-3 mb-3 mt-1">
              <div class="card">
                  <div class="card-body">
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                              <div class="h3">
                                  Технологии
                              </div> 
                          </li>
                          <li class="list-group-item">
                              <div class="h6 text-muted">
                                  Yatube - проект на Django
                              </div>
                          </li>
                      </ul>                                               
                  </div>                    
              </div>                
          </div>
          <!-- Тело страницы -->
          <div class="col-md-9">
              <div class="card-body">                    
                  <div class="card-text">
                    <p>Пока что это не большой проект, выполненный на питоновском фреймворке Django.</p>
                    <p>В проекте Yatube на данный момент есть регистрация пользователей. Теперь каждый желающий может зарегистрироваться и публиковать свои интересные посты, и делится интересной информацией с другими пользователями сайта.</p>
                    <p>В скором будущем (уже в следующем спринте), в проекте появится возможность добавлять к постам изображения, оставлять комментарии и подписываться на публикации интересных авторов.</p>
                  </div>                    
              </div>                
          </div>            
      </div>        
  </main>
{% endblock %}